/** Add css rules here for your application. */
html,body {
	/** These next few are to work around IE6 bug with scroll bars. */
	overflow: auto;
	overflow-x: hidden;
	margin: 5px 5px 5px 5px;
}

.dataTextArea {
	background-color: #FFFFFF;
	border:5px solid red;
	height: 210px;
}
